<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".cache/phpunit"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true">
    <testsuites>
        <testsuite name="PoolBuy">
            <directory>tests/poolbuy</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">upload/extension/poolbuy/system/library</directory>
        </include>
    </source>
</phpunit>
